<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<h1>Tasks</h1>

  <div class="row">
    <% @tasks.each do | task | %>
      <div class="col-md-4">
        <div class="card">
           <%= image_tag(task.photo, :class => 'img-responsive' ) %>
           <div class="body">
            <h5><%= task.name %></h5>
           <%= link_to "Completar", task_user_tasks_path(task), method: :post, class: "btn btn-success" %>
           <%= link_to 'Show', task %>
           <%= link_to 'Edit', edit_task_path(task) %>
           <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
           </div>
        </div>
      </div>
    <% end %>
  </div>

<%= link_to 'New Task', new_task_path %>
