<p id="notice"><%= notice %></p>
<div class="row">
	<div class="col-md-4">
		<h2>Tarea: <%= @task.name %></h2>
		<%= image_tag(@task.photo, :class => 'img-responsive' ) %>
	</div>
	<div class="col-md-7 pull-right">
		<div class="row">
			<div class="col-md-6">
				<h3>Ranking</h3>
				 <% @user_tasks.limit(4).each do |user| %>
				    <li>
				    	<%= image_tag(user.photo) %>
				    	<p><%= user.name %></p>	
				    </li> 
				 <% end %>
				
			</div>
			<div class="col-md-6">
				<h4>Completado por: </h4>
				<% @task.users.each do |user| %>
				    <li><%= user.name %></li> 
				 <% end %>
			</div>
		</div>
	</div>
	
</div>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
