<div class="row">
	<div class="col-md-12">
		<%= link_to 'Back', tasks_path, :class => 'btn btn-default' %>
		<h2>Tarea: <%= @task.name %></h2>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-sm-12">
		<%= image_tag(@task.photo, :class => 'img-responsive' ) %>
	</div>
	<div class="col-md-6 col-sm-12">
		<div class="listado">
			<h3>Ranking</h3>
			<ul>
			 <% @user_tasks.limit(5).each do |user| %>
			    <li>
			    	<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
			    	<%= image_tag(user.photo, :class => 'img-avatar') %>
			    	<span><%= user.name %></span>	
			    </li> 
			 <% end %>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="listado normal ">
			<h3>Completado por: </h3>
			<ul>
			<% @task.users.each do |user| %>
				<li><%= user.name %></li> 
			<% end %>
			</ul>
		</div>
	</div>
</div>